body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
    background-colour: #f0f0f0;
}

h1 {
    color: #2c3e50;
}

/*BUTTON Blue*/
.button-1 {
    padding: 12px 24px;
    background: white;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.5s;
    vertical-align: top; /*So it's not centred on text.*/
}

.button-1:hover {
    background-color: black;
    color: white;
}

/* BUTTON Red*/
.button-2 {
    padding: 12px 24px;
    background: #db3434;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: opacity 0.3s;
    vertical-align: top; /*So it's not centred on text.*/
}

.button-2:hover {
    opacity: 0.8;
}

.button-2:active{
    opacity: 0.5;

}

/* BUTTON Manual Margin 
It's a bad idea to deadset height and width. 
*/
.button-mm {
    background: rgb(200, 0, 0);
    color: black;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 20px;
    transition: opacity 0.15s;
    vertical-align: top; /*So it's not centred on text.*/
}

.button-mm:hover {
    opacity: 0.8;
}

.button-mm.active {
    opacity: 0.5;
}