body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
    background-colour: #f0f0f0;
}

h1 {
    color: #2c3e50;
}

.button-1 {
    padding: 12px 24px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.button-2 {
    padding: 12px 24px;
    background: #db3434;
    color: white;
    border: none;
    height: 36px;
    width: 140px;
    border-radius: 18px;
    cursor: pointer;
}